body,
html {
   height: 100%;
   box-sizing: border-box;
}

body {
   @apply bg-gray-100;
   color: #333;
}

.fadeIn {
   animation: fadeIn 700ms;
   -webkit-animation: fadeIn 700ms;
   -moz-animation: fadeIn 700ms;
   -o-animation: fadeIn 700ms;
   -ms-animation: fadeIn 700ms;
}
@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-moz-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-webkit-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-o-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-ms-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
.btn-icon {
   @apply bg-red-100 flex justify-center items-center p-1 h-8 w-8 border border-transparent shadow-sm text-sm font-medium rounded-sm text-gray-700 focus:outline-none outline-none;
}
.btn {
   @apply inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-sm text-white focus:outline-none outline-none;
}

.btn-primary {
   @apply bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 text-white;
}

.btn-danger {
   @apply bg-red-600 hover:bg-red-700 focus:ring-red-500 text-white;
}

.btn-success {
   @apply bg-green-600 hover:bg-green-700 focus:ring-green-500 text-white;
}

.btn-dark {
   @apply bg-gray-600 hover:bg-gray-700 focus:ring-gray-500 text-white;
}

.btn-light {
   @apply bg-gray-100 hover:bg-gray-200 focus:ring-gray-500 text-gray-700;
}
.btn-transparent {
   @apply bg-transparent text-gray-700;
}
